h1{
    color: darkred;
}
#container>h1{
    color: cadetblue;
}
h1.fancy-header{
    color: royalblue;
    background-color: darkkhaki;
    font-family: AppleMyungjo;
}
.fancy-header{
    color: darkgreen;
}
h2.fancy-header{
    color: mediumpurple;
    background-color: darkkhaki;
}